ul.navbar {
  font-family: 'Roboto Condensed', sans-serif;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 100;
  box-shadow:0px 0px 0px 0px rgba(50, 50, 50, 0.75);
}

/* Item Active */
ul.navbar li a.active {
  color: #aaa !important;
  background:#444;
}

/* Item Hover */
ul.navbar li a:hover {
    color: #888;
}

/* Item Hover */
ul.navbar img.n-logo {
  height:0;
  opacity: 0;
  transform: translateY(40px);
}

/* -- Float -- */
ul.navbar.float li a {
  color: #888;
}
ul.navbar.float li a:hover {
    color: #ccc;
}
