@import 'mixins';
@import 'master';

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 466px;
  @media only screen and (max-width: 900px) {
    padding-bottom: 591px;
  }

  @import 'navbar';
  @import 'footer';
  @import 'page';
  @import 'elements';
  @import 'feature';
  @import 'homepage';
}
