.homepage {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .row {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    .column {
      width: 450px;
      float: right;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 1.5em;
        font-weight: 300;
        opacity: 0.8;
      }

      h1 {
        font-size: 3em;
      }

      img {
        width: 450px;
      }
    }
  }
}
