.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background 1s;

  .nav {
    height: 96px;
    max-width: 900px;
    margin: 0 auto;
    transition: height 1s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-bottom 1s;

    .logo-cont {
      position: absolute;
      height: 100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transition: background 1s, clip-path 1s, -webkit-clip-path 1s, width 1s;
      display: inline-block;
      width: 320px;

      .logo {
        margin-top: 16px;
        height: 64px;
        transition: margin-left 1s;
        @media only screen and (max-width: 900px) {
          margin-left: 8px;
        }

        .logo-text {
          fill: #393D51;
          transition: fill 1s;
        }
      }
    }

    .items {
      float: right;
      display: inline-block;

      .item {
        position: relative;
        padding: 0 16px;
        font-size: 1em;
        transition: font-size 1s;
        font-weight: 300;
        line-height: 96px;
        display: inline-block;

        a {
          text-decoration: none;
          transition: opacity 0.5s, color 0.5s;
          color: #393D51;

          &:hover {
            opacity: 0.8;
          }

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: #393D51;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }

          &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }

        &.active {
          a {
            font-weight: bold;
            
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  &.light {
    .nav {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .logo-cont {
        .logo {
          .logo-text {
            fill: white;
          }
        }
      }
      .items {
        .item {
          a {
            color: white;

            &:before {
              background: #fff;
            }
          }
        }
      }
    }
  }

  // Navbar On-scroll
  &.sticky {
    background: #03ABFB;

    .nav {
      border-bottom: 1px solid rgba(255, 255, 255, 0);

      .items {
        .item {
          a {
            color: white;

            &:before {
              background: #fff;
            }
          }
        }
      }

      .logo-cont {
        -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        background: #eee;
        width: 380px;

        @media only screen and (max-width: 900px) {
          -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }

        .logo {
          margin-left: -8px;
          @media only screen and (max-width: 900px) {
            margin-left: -16px;
          }

          .logo-text {
            fill: #393D51;
          }
        }
      }

      .items {
        .item {
          font-size: 1.2em;
        }
      }
    }
  }
}
